<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>template need to be send</title>
    <style>

    </style>
</head>
<body>

<h1>email id: {{.Email}}</h1>
<h2>First name: {{.First}}</h2>
<h2>Pass: {{.Pass}}</h2>


</body>
</html>
